/* Home.module.css */

.container {
  padding: 0 2rem;
  background-color: #fff;
  color: #000;
}

.imagePreview {
  width: 100px;
}

/* Styles for dark theme preference */
@media (prefers-color-scheme: dark) {
  .container {
    background-color: #121212;
    color: #ffffff;
  }
}

.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1rem;
}

.uploadSection {
  margin-top: 2rem;
}

.inputFile {
  border: 2px solid #0070f3;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  .inputFile {
    border-color: #bbbbbb;
  }

  .inputFile:hover,
  .inputFile:focus {
    border-color: #888888;
  }
}

.convertButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .convertButton {
    background-color: #333333;
  }

  .convertButton:hover {
    background-color: #555555;
  }
}

.downloadSection {
  margin-top: 2rem;
}

.downloadLink {
  color: #0070f3;
  text-decoration: none;
  border: 1px solid #0070f3;
  padding: 0.5rem 1rem;
  transition: color 0.15s ease, border-color 0.15s ease;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  .downloadLink {
    color: #0090f3;
    color: #0090f3;
  }

  .downloadLink:hover {
    color: #888888;
    border-color: #888888;
  }
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-top-color: #333333;
  }
}